### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

### Dependency directories ###
node_modules/
jspm_packages/
mochawesome-report/

### Compiled binary addons (https://nodejs.org/api/addons.html) ###
build

### ckb data ###
indexer_data
indexer_data_dev

### env ###
.env

### vscode ###
.vscode